html, body {
	// font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font: 17px/1.21 '', monospace, sans-serif;
	font-weight: 400;
	color: #777;
	background:black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
}

.result {
	// padding: 10px;
	 margin: 10px;
	// background: #444;
	color:white;
	// box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.right {
	float:right;
}
input{
	color:red;
	// color:white;
}
button{
	// background: white;
	background-color:rgb(240, 240, 240);
	font-weight: 500;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
	display: inline-block;
	height: 3.75rem;
	height: 2.05rem;
	padding: 0 1.625rem;
	margin: .375rem 0;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-image: none;
	text-align: center;
	line-height: 2.25rem;
	line-height: 1.75rem;
	vertical-align: middle;
	white-space: nowrap;
	/* -webkit-user-select: none; */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: .675rem;
	font-family: inherit;
	letter-spacing: .03em;
	position: relative;
	overflow: hidden;
}
.seedcode{
	text-decoration: underline;
}
.seedInput {
	width:50px;
}
.selected {
	background:rgb(228, 62, 62);
	// filter:invert(1);
}

.green {
	color: white;
	background: #64a500;
}